:root {
    --background-color: black;
    --font-size-small: 75%;
}

body {
    color: white;
    background: var(--background-color);
    font-size: 125%;
    font-family: Verdana, sans-serif;
    line-height: 200%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.section-title {
    margin-bottom: 24px;
    margin-top: 24px;
}

a:link {
    color: white;
    margin-bottom: 6px;
}

a:hover {
    color: gray;
}

a:visited {
    color: rgb(94, 94, 94);
}

p {
    margin: 0;
}

.avatar-container {
    float: right;
    position: relative;
}

.avatar {
    border-radius: 50%;
}

.flag {
    bottom: 0;
    right: 0;
    position: absolute;
}

.project {
    margin-bottom: 24px;
}

.project-description {
    font-size: var(--font-size-small);
    color: #d7d7d7;
    display: block;
}

.programming-language {
    font-size: var(--font-size-small);
    color: darkgrey;
}

.kotlin-indicator {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--background-color);
    border-radius: 50%;
    background-color: #A97BFF;
}