:root {
    --main-color: white;
    --background-color: black;
    --hover-color: gray;
    --visited-color: rgb(94, 94, 94);
    --font-size-large: 125%;
    --font-size-small: 75%;
}

body {
    color: var(--main-color);
    background: var(--background-color);
    font-size: var(--font-size-large);
    font-family: Verdana, sans-serif;
    line-height: 200%;
    margin-left: 24%;
    margin-right: 24%;
}

a:link, .section-title {
    color: var(--main-color);
}

a:hover {
    color: var(--hover-color);
}

a:visited {
    color: var(--visited-color);
}

input {
    width: 340px;
    background-color: var(--background-color);
    color: var(--main-color);
    border: none;
    font-family: monospace;
}

input:focus {
    outline: none !important;
    border: 1px solid grey;
    box-shadow: 0 0 10px var(--main-color);
}

.avatar-container {
    float: right;
    margin-top: 12%;
    position: relative;
}

.avatar {
    border-radius: 50%;
}

.flag {
    bottom: 0;
    right: 0;
    position: absolute;
}

.main {
    white-space: pre-line;
    margin-bottom: 12%;
}

.project-description, .programming-language {
    font-size: var(--font-size-small);
    color: darkgrey;
}

.language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--background-color);
    border-radius: 50%;
}